.personPic {
  max-width: 100px;
  max-height: 100px;
}

.personPicBig {
  max-width: 300px;
  max-height: 300px;
}

.detailsList {
  padding-inline-start: 5px;
  display: inline;
  list-style: none;
}

.detailsList li {
  display: inline;
}

.detailsList li:after {
  content: ", ";
}

.detailsList li:last-child:after {
  content: "";
}
