.personPic {
  max-width: 9rem;
  max-height: 9rem;
}

.personPicBig {
  max-width: 27rem;
  max-height: 27rem;
}

.detailsList {
  padding-inline-start: 1rem;
  display: inline;
  list-style: none;
  li {
    display: inline;
  }
  li:after {
    content: ", ";
  }

  li:last-child:after {
    content: "";
  }

}
